// Mixins

@mixin clearfix {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn 'No layer found for `#{$layer}` in $z-layers map. Property omitted.';
	}

	@return map-get($z-layers, $layer);
}

@mixin browsercompat( $rule, $value ) {
	#{$rule}: #{$value};
	-webkit-#{$rule}: #{$value};
	-ms-#{$rule}: #{$value};
}

// Media Queries

@mixin tablet {
	@media ( min-width: #{$g-breakpoint-tablet} ) {
		@content;
	}
}

@mixin desktop {
	@media ( min-width: #{$g-breakpoint-desktop} ) {
		@content;
	}
}
